^({{#each(Params)}}{{{Type}}} {{{Name}}}{{^@last}},
{{/}}{{/}})
		{
			{{#each(Params)}}{{&ObjCConverterStart(.)}}{{/}}
			{{=<% %>=}}{{ParamName}}<%={{ }}=%>{{&BlockName}}({{^IsStatic(.)}}ptr, {{/}}{{#Method}}invocationId{{/}}{{#each(Params)}}, {{{ObjCConverter(.)}}}{{/}});
			{{#each(Params)}}{{&ObjCConverterEnd(.)}}{{/}}
		}
