//
//  {{ClassName}}.mm
//
//  Created by Jonathan on 12/31/19.
//  Copyright © 2019 HovelHouseApps. All rights reserved.
//

#import <Foundation/Foundation.h>
#import <GameKit/GameKit.h>
#import "{{{ClassName}}}.h"
#import "Converters.h"
{{#Imports}}#import "{{.}}"{{/}}

extern "C" {

//ClassMethods{{#ClassMethods}}
{{{Template}}}
{{/}}
//InitMethods{{#InitMethods}}
{{ObjCToCType(ReturnParam.Type)}} {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
    {{#each(Parameters)}}{{&ObjCToCType(.)}},
    {{/}}void** exceptionPtr)
{
    @try 
    {
        {{&ClassName}}* i{{{ClassName}}} = [[{{ClassName}} alloc] {{MethodName}}{{#each(Parameters)}}{{ParamLabel}}:{{&CToObjCConverter(.)}}{{^@last}} {{/}}{{/}}];
            return (__bridge_retained void*) i{{{ClassName}}};
    }
    @catch(NSException* ex)
    {
        *exceptionPtr = (__bridge_retained void*)ex;
    }

    return {{DefaultValue(ReturnParam.Type)}};
}
{{/}}
//InstanceMethods{{#InstanceMethods}}
{{&Template}}
{{/}}
//VoidMethods{{#VoidMethods}}
{{&Template}}
{{/}}
//Properties
{{#Properties}}{{&Template}}
{{/}}{{#Notifications}}
{{>Notification}}
{{/}}
{{^Nondisposable}}
void {{ClassName}}_Dispose(void* ptr)
{
    {{&ClassName}}* val = (__bridge {{&ClassName}}*) ptr;
    if(val != nil)
    {
        CFRelease(ptr);
    }
    NSLog(@"Dispose...{{&ClassName}}");
}{{/}}

}
