//
//  {{ClassName}}.h
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on 09/23/2020
//  Copyright © {{Year(.)}} HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

#import <Foundation/Foundation.h>
#import "Callbacks.h"

// Class Methods {{#ClassMethods}}
{{&ObjCHeaderTemplate}}{{/}}

// Init Methods {{#InitMethods}}
extern "C" {{#Custom.ObjC.Header}}{{&.}}{{^}}{{ObjCToCType(ReturnParam.Type)}} {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
    {{#each(Parameters)}}{{&ObjCToCType(.)}},
    {{/}}void** exceptionPtr);
{{/}}{{/}}

// Instance methods {{#InstanceMethods}}
{{ObjCHeaderTemplate}}{{/}}

// Void methods {{#VoidMethods}}
{{&ObjCHeaderTemplate}}{{/}}

// Properties {{#Properties}}
{{&ObjCHeaderTemplate}}{{/}}

{{#Notifications}}
extern "C" void* Add{{&Name}}Observer(NotificationHandler myhandler, void** exceptionPtr);

extern "C" void Remove{{&Name}}Observer(void* observerPtr, void** exceptionPtr);
{{/}}
{{^Nondisposable}}
extern "C" void {{&ClassName}}_Dispose(void* ptr);{{/}}
