{{ObjCToCType(ReturnParam.Type)}} {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
    {{#each(Parameters)}}{{&ObjCToCType(.)}},
    void** exceptionPtr{{/}})
{
	@try 
	{
		{{&ClassName}}* i{{{ClassName}}} = [{{ClassName}} {{MethodName}}{{#each(Parameters)}}{{ParamLabel}}:{{&CToObjCConverter(.)}}{{^@last}} {{/}}{{/}}];
	    return (__bridge_retained void*) i{{{ClassName}}};
	}
	@catch(NSException* ex)
	{
		*exceptionPtr = (__bridge_retained void*)ex;
	}

	return nil;
}
