{{ObjCToCType(ReturnParam.Type)}} {{ClassName}}_{{&MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
	{{#each(Parameters)}}{{&ObjCToCType(.)}}, 
	{{/}}void** exception
    )
{
{{#Availability}}
    if(@available({{#each(Platforms)}}{{.}}, {{/}}*))
    { {{/}}
        @try {
            {{#Logging}}NSLog(@"{{ClassName}}_{{&MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}()");{{/}}
            {{#IsNotVoid(ReturnParam.Type)}}{{&ReturnParam.Type}} {{&ReturnParam.Name}} = {{/}}[{{ClassName}} {{MethodName}}{{#each(Parameters)}}{{ParamLabel}}:{{&CToObjCConverter(.)}}{{^@last}} {{/}}{{/}}];{{#IsNotVoid(ReturnParam.Type)}}
            return {{ObjCConverter(ReturnParam)}};{{/}}
        }
        @catch(NSException* ex)
        {
            *exception = (__bridge_retained void*) ex;
        }{{#IsNotVoid(ReturnParam.Type)}}
        return {{DefaultValue(ReturnParam.Type)}};{{/}}
    {{#IsNotVoid(ReturnParam.Type)}}{{#Availability}}}
    else {
    {{/}}{{/}}
{{#Availability}}   }{{/}}
}
