//
//  {{ClassName}}.h
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on 09/22/2020
//  Copyright © 2020 HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

#import <Foundation/Foundation.h>
#import <GameKit/GameKit.h>

// Init Methods
extern "C" void* {{ClassName}}_init(
    void** exceptionPtr);
    
extern "C" void {{ClassName}}_Dispose(void* ptr);

@interface {{ClassName}} : NSObject <{{Protocol}}>

@end
