#import "GameKitInitializer.h"
#import "Converters.h"
#import "{{ClassName}}.h"

void* {{ClassName}}_init(
    void** exceptionPtr)
{
    @try
    {
        {{ClassName}}* inst = [[{{ClassName}} alloc] init];
            return (__bridge_retained void*) inst;
    }
    @catch(NSException* ex)
    {
        *exceptionPtr = (__bridge_retained void*)ex;
    }

    return nil;
}

void {{ClassName}}_Dispose(void* ptr)
{
    {{ClassName}}* val = (__bridge {{ClassName}}*) ptr;
    if(val != nil)
    {
        CFRelease(ptr);
    }
    NSLog(@"Dispose...{{ClassName}}");
}

@implementation {{ClassName}}

{{#InstanceMethods}}{{#Custom.ObjCImpl}}{{&.}}{{^}}{{&Decl}}
{
    NSLog(@"{{>MethodName}}");
    {{#each(Parameters)}}{{&ObjCConverterStart(.)}}{{/}}
    {{#IsNotVoid(ReturnParam.Type)}}return {{/}}K{{>MethodName}}(
        (__bridge void*) self,
        {{#each(Parameters)}}{{&ObjCConverter(.)}}{{^@last}},
        {{/}}{{/}}
        );
    {{#each(Parameters)}}{{&ObjCConverterEnd(.)}}{{/}}
}
{{/}}
{{/}}

@end
