{{^IsWriteonly(.)}}
extern "C" {{#Custom.ObjC.Header}}{{&.}}{{^}}void {{&ClassName}}_GetProp{{{Capitalize(Name)}}}(void* ptr, void** buffer, long* count);{{/}}{{^IsReadonly(.)}}
extern "C" void {{&ClassName}}_SetProp{{&Capitalize(Name)}}(void* ptr, {{&ObjCToCType(.)}}, void** exceptionPtr);
{{/}}{{/}}