{{^IsWriteonly(.)}}
extern "C" {{#Custom.ObjC.GetHeader}}{{&.}}{{^}}{{ObjCToCType2(.)}} {{&ClassName}}_GetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}void* ptr{{/}});{{/}}{{^IsReadonly(.)}}
extern "C" {{#Custom.ObjC.SetHeader}}{{&.}}{{^}}void {{&ClassName}}_SetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}void* ptr{{/}}, {{&ObjCToCType(.)}}, void** exceptionPtr);{{/}}
{{/}}{{/}}
