extern "C" {{#Custom.ObjC.Header}}{{&.}}{{^}}void {{ClassName}}_{{&MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
	void* ptr{{#Parameters}},
    {{&ObjCToCType(.)}}{{/}},
    const void** buffer,
    long* count
    );
{{/}}