extern "C" {{#Custom.ObjC.Header}}{{&.}}{{^}}{{ObjCToCType(ReturnParam.Type)}} {{ClassName}}_{{&MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
	{{#each(Parameters)}}{{&ObjCToCType(.)}},
    {{/}}void** exception
    );
{{/}}