//
//  {{FileName}}.h
//

{{#Classes}}// {{ClassName}}
{{#InstanceMethods}}{{#Custom.ObjCTypedef}}{{&.}}{{^}}typedef {{ObjCToCType(ReturnParam.Type)}} (*{{>MethodName}})(void* ptr{{#each(Parameters)}}, {{&ObjCToCType(.)}}{{/}});{{/}}
{{/}}
{{/}}

{{#Classes}}// {{ClassName}}
{{#InstanceMethods}}
extern {{>MethodName}} K{{>MethodName}};
{{/}}
{{/}}
