//
//  NSException.mm
//
//  Created by Jonathan on 12/31/19.
//  Copyright © 2019 HovelHouseApps. All rights reserved.
//

#import <Foundation/Foundation.h>
#import <GameKit/GameKit.h>
#import "{{FileName}}.h"

{{#Classes}}// {{ClassName}}
{{#InstanceMethods}}
{{>MethodName}} K{{>MethodName}};
{{/}}
{{/}}


extern "C" {

    {{#Classes}}// {{ClassName}}
    {{#InstanceMethods}}void RegisterDelegateFor_{{>MethodName}}({{>MethodName}} del)
    {
    	NSLog(@"did register {{>MethodName}}");
    	K{{>MethodName}} = del;
	}
    {{/}}
    {{/}}

}
