{{#Custom.ObjC.Body}}{{&.}}{{^}}{{ObjCToCType(ReturnParam.Type)}} {{ClassName}}_{{&MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
    void* ptr{{#each(Parameters)}},
    {{&ObjCToCType(.)}}{{/}},
    void** exception
    )
{ {{#Availability}}
    if(@available({{#each(Platforms)}}{{.}}, {{/}}* ))
    { {{/}}
        @try
        {
            {{ClassName}}* i{{ClassName}} = (__bridge {{{ClassName}}}*) ptr;
            {{#IsNotVoid(ReturnParam.Type)}}{{&ReturnParam.Type}} {{&ReturnParam.Name}} = {{/}}[i{{ClassName}} {{MethodName}}{{#each(Parameters)}}{{ParamLabel}}:{{&CToObjCConverter(.)}}{{^@last}} {{/}}{{/}}];{{#IsNotVoid(ReturnParam.Type)}}
            return {{ObjCConverter(ReturnParam)}};{{/}}
        }
        @catch(NSException* ex)
        {
            *exception = (__bridge_retained void*) ex;
        }{{#IsNotVoid(ReturnParam.Type)}}
        return {{DefaultValue(ReturnParam.Type)}};{{/}}
{{#IsNotVoid(ReturnParam.Type)}}{{#Availability}}}
    else {
    {{/}}{{/}}{{#Availability}}
    }{{/}}
}
{{/Custom.ObjC.Body}}
