{{#Custom.ObjC.Body}}{{&.}}{{^}}void {{ClassName}}_{{&MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
    void* ptr{{#each(Parameters)}},
    {{&ObjCToCType(.)}}{{/}},
    const void** buffer,
    long* length
    )
{
    {{ClassName}}* i{{ClassName}} = (__bridge {{{ClassName}}}*) ptr;
    {{#IsNotVoid(ReturnParam.Type)}}{{&ReturnParam.Type}} {{&ReturnParam.Name}} = {{/}}[i{{ClassName}} {{MethodName}}{{#each(Parameters)}}{{ParamLabel}}:{{&CToObjCConverter(.)}}{{^@last}} {{/}}{{/}}];

    *buffer = [Converters NSArrayOfStringsToCArrayOfStringPointers:{{&ReturnParam.Name}}];
    *length = [{{&ReturnParam.Name}} count];
}
{{/Custom.ObjC.Body}}

