void* Add{{&Name}}Observer(NotificationHandler myhandler, void** exceptionPtr)
{
    @try 
    {
        __block id observer;
        observer = [[NSNotificationCenter defaultCenter] addObserverForName:{{&Name}} object:nil queue:[NSOperationQueue mainQueue] usingBlock:^(NSNotification * _Nonnull note) {
            
            myhandler((__bridge_retained void*) observer, (__bridge_retained void*) note);
        }];
        
        return (__bridge_retained void*)observer;
    }
    @catch(NSException* exception)
    {
        *exceptionPtr = (__bridge_retained void*) exception;
    }
    
    return nil;
}

void Remove{{&Name}}Observer(void* observerHandle, void** exceptionPtr)
{
    @try 
    {
        [[NSNotificationCenter defaultCenter] removeObserver:(__bridge NSObject*) observerHandle];
    }
    @catch(NSException* exception)
    {
        *exceptionPtr = (__bridge_retained void*) exception;
    }
}