//
//  Callbacks.h
//  PluginCodeGenerator
//
//  Created by Jonathan on 1/8/20.
//  Copyright © 2020 HovelHouseApps. All rights reserved.
//

{{#Blocks}}{{#Comment}}//{{/}}typedef {{&CSharpMarshallingType(ReturnType)}} (*{{AsCallback(Type)}})({{^IsStatic(.)}}void* ptr, {{/}}{{#Method}}unsigned long invocationId, {{/}}{{#each(Params)}}{{&ObjCToCType(.)}}{{^@last}}, {{/}}{{/}});
{{/}}

