{{^IsWriteonly(.)}}{{#Custom.ObjC.GetBody}}{{&.}}{{^}}{{&ObjCToCType2(.)}} {{{ClassName}}}_GetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}void* ptr{{/}})
{ {{#Availability}}
    if(@available({{#each(Platforms)}}{{.}}, {{/}} *))
    { {{/}}
        {{^IsStatic(.)}}{{&ClassName}}* i{{ClassName}} = (__bridge {{{ClassName}}}*) ptr;
        {{/}}{{&Type}} val = [{{^IsStatic(.)}}i{{/}}{{ClassName}} {{&Getter}}];
        return {{ObjCConverter2(.)}};
    {{#Availability}}}
    else
    {
        return {{DefaultValue(Type)}};
    } {{/}}
}{{/}}{{/}}{{^IsReadonly(.)}}

{{#Custom.ObjC.SetBody}}{{&.}}{{^}}void {{&ClassName}}_SetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}void* ptr,{{/}} {{&ObjCToCType(.)}}, void** exceptionPtr)
{ {{#Availability}}
    if(@available({{#each(Platforms)}}{{.}}, {{/}} *))
    { {{/}}
        @try
        {
            {{^IsStatic(.)}}{{&ClassName}}* i{{ClassName}} = (__bridge {{&ClassName}}*) ptr;{{/}}
            [{{^IsStatic(.)}}i{{/}}{{&ClassName}} set{{&Capitalize(Name)}}:{{&CToObjCConverter(.)}}];
        }
        @catch(NSException* ex)
        {
            *exceptionPtr = (__bridge_retained void*) ex;
        }{{#Availability}}
    }{{/}}
}{{/}}{{/}}
