{{^IsWriteonly(.)}}
void {{{ClassName}}}_GetProp{{&Capitalize(Name)}}(void* ptr, void** buffer, long* count)
{
	{{{ClassName}}}* i{{ClassName}} = (__bridge {{{ClassName}}}*) ptr;
	{{&Type}} val = [i{{ClassName}} {{&Name}}];

	*buffer = [Converters NSArrayToRetainedCArray:val];
	*count = [val count];
}{{/}}{{^IsReadonly(.)}}

void {{&ClassName}}_SetProp{{&Capitalize(Name)}}(void* ptr, {{&ObjCToCType(.)}}, void** exceptionPtr)
{
	@try 
	{
		{{{ClassName}}}* i{{ClassName}} = (__bridge {{&ClassName}}*) ptr;
		[i{{&ClassName}} set{{&Capitalize(Name)}}:{{&CToObjCConverter(.)}}];
	}
	@catch(NSException* ex)
	{
		*exceptionPtr = (__bridge_retained void*) ex;
	}
}{{/}}