{{#Prop.Custom.ObjC.SetBody}}{{&.}}{{^}}void {{&ClassName}}_SetProp{{&Capitalize(Prop.Name)}}(void* ptr, {{&ObjCToCType(Prop)}}, void** exceptionPtr)
{
	@try 
	{
		{{&ClassName}}* i{{&ClassName}} = (__bridge {{&ClassName}}*) ptr;
		[i{{&ClassName}} set{{&TrimNumeric(Capitalize(Prop.Type))}}:^({{#each(Block.Params)}}{{&Type}} {{&Name}}{{^@last}},
	{{/}}{{/}})
			{
				{{#each(Block.Params)}}{{&ObjCConverterStart(.)}}{{/}}
				{{&Prop.Name}}(ptr{{#each(Block.Params)}}, {{&ObjCConverter(.)}}{{/}});
				{{#each(Block.Params)}}{{&ObjCConverterEnd(.)}}{{/}}
			}];
	}
	@catch(NSException* ex)
	{
		*exceptionPtr = (__bridge_retained void*)ex;
	}
}{{/}}
