private static readonly Dictionary<InvocationRecord,ExecutionContext<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}>> {{Capitalize(MethodName)}}Callbacks = new Dictionary<InvocationRecord,ExecutionContext<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}>>();

{{#Custom.CSharp.Callback}}{{&.}}{{^}}        [MonoPInvokeCallback(typeof({{&CSharpMarshallingType(Block.Type)}}))]
        private static void {{Capitalize(MethodName)}}Callback({{^IsStatic}}
            IntPtr thisPtr,{{/}}
            ulong invocationId,
            {{#each(Block.Params)}}{{&CSharpMarshallingType(.)}}{{^@last}},
            {{/}}{{/}})
        {
            var invocation = new InvocationRecord(invocationId);
            var executionContext = {{Capitalize(MethodName)}}Callbacks[invocation];
            {{Capitalize(MethodName)}}Callbacks.Remove(invocation);
            
            executionContext.Invoke({{#each(Block.Params)}}
                    {{&CToCSharp(.)}}{{^@last}},{{/}}{{/}});
        }{{/}}
