//
//  {{ClassName}}.cs
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on {{Date(.)}}
//  Copyright © {{Year(.)}} HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

using System.Collections;
using System.Collections.Generic;
using NUnit.Framework;
using UnityEngine;
using UnityEngine.TestTools;

namespace HovelHouse.GameKit.Tests
{
    public class {{&ClassName}}Tests
    {
        {{#ClassMethods}}
        [Test]
        public void {{Capitalize(MethodName)}}Test()
        {
            // STUB - fix me
            Assert.Fail("{{Capitalize(MethodName)}}Test Not Implemented");
        }
        {{/}}

        {{#InitMethods}}
        public void CanCreate{{ClassName}}()
        {
            // STUB - fix me
            Assert.Fail("CanCreate{{ClassName}} Test Not Implemented");
        }
        {{/}}

        {{#InstanceMethods}}
        [Test]
        public void {{Capitalize(MethodName)}}Test()
        {
            // STUB - fix me
            Assert.Fail("{{Capitalize(MethodName)}}Test Not Implemented");
        }
        {{/}}

        {{#VoidMethods}}
        [Test]
        public void {{Capitalize(MethodName)}}Test()
        {
            // STUB - fix me
            Assert.Fail("{{Capitalize(MethodName)}}Test Not Implemented");
        }
        {{/}}
        
        {{#Properties}}
        [Test]
        public void {{Capitalize(Name)}}Test()
        {
            // STUB - fix me
            Assert.Fail("{{Capitalize(Name)}}Test Not Implemented");
        }
        {{/}}

        {{#Notifications}}
        [Test]
        public void {{&ShortName}}NotificationTest()
        {
            // STUB - fix me
            Assert.Fail("{{Capitalize(MethodName)}}Test Not Implemented");
        }
        {{/}}
    }
}
