//
//  {{ClassName}}.cs
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on
//  Copyright © {{Year(.)}} HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

using System;
using System.Linq;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using AOT;
using UnityEngine;

namespace HovelHouse.GameKit
{
    /// <summary>
    /// {{&Summary}}
    /// </summary>{{#Remarks}}
    /// <remarks>
    /// {{.}}
    /// </remarks>{{/}}
    public class {{&ClassName}} : {{#ParentClass}}{{ParentClass}}{{/}}{{^ParentClass}}UnmanagedObject{{/}}{{^Nondisposable}}, IDisposable{{/}}
    {
        #region dll
        
        #if UNITY_IPHONE || UNITY_TVOS
        const string dll = "__Internal";
        #else
        const string dll = "HHGameKitMacOS";
        #endif

        // Class Methods
        {{#ClassMethods}}
        {{&CSharpDllTemplate}}
        {{/}}

        {{#InitMethods}}
        [DllImport(dll)]
        {{MethodStart}}private static extern IntPtr {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
            {{#each(Parameters)}}{{#MarshallingAttributes(.)}}{{.}}
            {{/}}{{&CSharpToCType(Type,Name)}}, 
            {{/}}out IntPtr exceptionPtr
            );
        {{/}}

        {{#InstanceMethods}}
        {{&CSharpDllTemplate}}
        {{/}}

        {{#VoidMethods}}
        {{&CSharpDllTemplate}}
        {{/}}

        // Properties
        {{#Properties}}{{CSharpDllTemplate}}
        {{/}}{{#Notifications}}

        [DllImport(dll)]
        private static extern IntPtr Add{{&Name}}Observer(NotificationDelegate handler, ref IntPtr exceptionPtr);

        [DllImport(dll)]
        private static extern void Remove{{&Name}}Observer(HandleRef observerHandle, ref IntPtr exceptionPtr);
        {{/}}

        #endregion

        internal {{&ClassName}}(IntPtr ptr) : base(ptr) {}{{#DefaultConstructor}}
        internal {{&ClassName}}(){}{{/}}
        
        {{#ClassMethods}}
        {{&CSharpTemplate}}
        {{/}}
        
        {{#InitMethods}}{{#Comment}}/*{{/}}
        public {{ClassName}}({{#each(Parameters)}}
            {{&CSharpParamType(Type)}} {{&Name}}{{^@last}}, {{/}}{{/}}
            )
        {
            {{#each(Parameters)}}{{#Nonnull(.)}}if({{&Name}} == null)
                throw new ArgumentNullException(nameof({{&Name}}));
            {{/}}{{/}}
            IntPtr ptr = {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
                {{#each(Parameters)}}{{&CSharpToC(Type,Name)}}, 
                {{/}}out IntPtr exceptionPtr);

            if(exceptionPtr != IntPtr.Zero)
            {
                var nativeException = new NSException(exceptionPtr);
                throw new GameKitException(nativeException, nativeException.Reason);
            }

            Handle = new HandleRef(this,ptr);
        }
        {{#Comment}}*/{{/}}
        {{/}}


        {{#InstanceMethods}}
        {{&CSharpTemplate}}
        {{/}}
        {{#VoidMethods}}
        {{&CSharpTemplate}}
        {{/}}
        {{#Properties}}
        {{&CSharpTemplate}}
        {{/}}

        {{#Notifications}}
        private static readonly Dictionary<IntPtr,ExecutionContext<NSNotification>> {{ShortName}}Handlers = new Dictionary<IntPtr,ExecutionContext<NSNotification>>();

        [MonoPInvokeCallback(typeof(NotificationDelegate))]
        private static void {{Name}}StaticHandler(IntPtr ptr, IntPtr notification)
        {
            if({{ShortName}}Handlers.TryGetValue(ptr, out ExecutionContext<NSNotification> handler))
            {
                handler.Invoke(ptr == IntPtr.Zero ? null : new NSNotification(notification));
            }
        }

        public static Unsubscriber Add{{&ShortName}}Observer(Action<NSNotification> observer)
        {
            IntPtr exceptionPtr = IntPtr.Zero;

            IntPtr observerHandle = Add{{&Name}}Observer({{&Name}}StaticHandler, ref exceptionPtr);
            
            if(exceptionPtr != IntPtr.Zero)
            {
                var nativeException = new NSException(exceptionPtr);
                throw new Exception(nativeException, nativeException.Reason);
            }

            {{&ShortName}}Handlers[observerHandle] = new ExecutionContext<NSNotification>(observer);

            return observerHandle == IntPtr.Zero ? null : new Unsubscriber(observerHandle);
        }
        
        public static void Remove{{&ShortName}}Observer(Unsubscriber unsubscriber)
        {
            IntPtr exceptionPtr = IntPtr.Zero;
            Remove{{&Name}}Observer(unsubscriber.Handle, ref exceptionPtr);

            if(exceptionPtr != IntPtr.Zero)
            {
                var nativeException = new NSException(exceptionPtr);
                throw new Exception(nativeException, nativeException.Reason);
            }

            {{&ShortName}}Handlers.Remove(HandleRef.ToIntPtr(unsubscriber.Handle));
        }
        {{/}}

        {{^Nondisposable}}
        #region IDisposable Support
        [DllImport(dll)]
        private static extern void {{&ClassName}}_Dispose(HandleRef handle);
            
        private bool disposedValue = false; // To detect redundant calls
        
        protected {{#ParentClass}}override{{^}}virtual{{/}} void Dispose(bool disposing)
        {
            if (!disposedValue)
            {
                //Debug.Log("{{&ClassName}} Dispose");
                {{&ClassName}}_Dispose(Handle);
                disposedValue = true;
            }
        }

        ~{{&ClassName}}()
        {
            // Do not change this code. Put cleanup code in Dispose(bool disposing) above.
            Dispose(false);
        }

        // This code added to correctly implement the disposable pattern.
        public {{#ParentClass}}new {{/}}void Dispose()
        {
            // Do not change this code. Put cleanup code in Dispose(bool disposing) above.
            Dispose(true);
            GC.SuppressFinalize(this);
        }
        #endregion
        {{/}}
    }
}
