//
//  GameKitCallbacks.cs
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on 09/24/2020
//  Copyright © {{Year(.)}} HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

using System;
using System.Linq;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using UnityEngine;

namespace HovelHouse.GameKit
{
{{#Blocks}}
{{#Comment}}//{{/}}{{MethodStart}}	public delegate void {{&CSharpMarshallingType(Type)}}({{^IsStatic(.)}}
{{#Comment}}//{{/}}         IntPtr _this,{{/}}{{#Method}}
{{#Comment}}//{{/}}        {{IncArg(.)}}ulong invocationId,{{/}}{{#each(Params)}}
{{#Comment}}//{{/}}    	{{#MarshallingAttributes(.)}}{{.}}
		{{/}}{{&CSharpMarshallingType(.)}}{{^@last}},{{/}}{{/}});
    {{/}}
}

