//
//  {{EnumName}}.cs
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on 09/24/2020
//  Copyright © {{Year(.)}} HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

namespace HovelHouse.GameKit
{
    public enum {{&EnumName}} : long
    {
        {{#each(Values)}}{{{name}}} = {{value}}{{^@last}},
        {{/}}{{/}}
    }
}
