//
//  {{ClassName}}.cs
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on 09/24/2020
//  Copyright © {{Year(.)}} HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading;
using System.Runtime.InteropServices;
using AOT;
using UnityEngine;

namespace HovelHouse.GameKit
{
    /// <summary>
    /// {{&Summary}}
    /// </summary>{{#Remarks}}
    /// <remarks>
    /// {{.}}
    /// </remarks>{{/}}
    public class {{&ClassName}} : {{#ParentClass}}{{ParentClass}}{{/}}{{^ParentClass}}UnmanagedObject{{/}}
    {
        #region dll
        
        #if UNITY_IPHONE || UNITY_TVOS
        const string dll = "__Internal";
        #else
        const string dll = "HHGameKitMacOS";
        #endif
        
        [DllImport(dll)]
        private static extern IntPtr {{ClassName}}_init(out IntPtr exceptionPtr);
            
        [DllImport(dll)]
        private static extern void {{ClassName}}_Dispose(HandleRef handle);
            
        #endregion
        
        private static Dictionary<Int64,{{ClassName}}> classInstances =
            new Dictionary<Int64,{{ClassName}}>();
            
        private readonly SynchronizationContext synchronizationContext;
    
        internal static {{&ClassName}} GetInstance(IntPtr ptr)
        {
            return classInstances[ptr.ToInt64()];
        }{{#DefaultConstructor}}
        internal {{&ClassName}}(){}{{/}}
        
        public {{ClassName}}()
        {
            var ptr = {{ClassName}}_init(
                out IntPtr exceptionPtr);

            if(exceptionPtr != IntPtr.Zero)
            {
                var nativeException = new NSException(exceptionPtr);
                throw new GameKitException(nativeException, nativeException.Reason);
            }

            Handle = new HandleRef(this,ptr);
            synchronizationContext = SynchronizationContext.Current;
            classInstances[ptr.ToInt64()] = this;
        }


        {{#InstanceMethods}}
        [MonoPInvokeCallback(typeof({{ClassName}}_{{>MethodName}}))]
        {{#Custom.CSharpStaticCallback}}{{&.}}{{^}}public static void {{>MethodName}}(
            IntPtr ptr,
            {{#each(Parameters)}}{{&CSharpToCType(Type,Name)}}{{^@last}}, 
            {{/}}{{/}})
        {
            try 
            {
                Debug.Log("{{>MethodName}}");
                var inst = classInstances[ptr.ToInt64()];
                {{#each(Parameters)}}{{&CSharpConverterStart(.)}}{{/}}
                
                inst.synchronizationContext.Post((_) => {
                    inst.{{>MethodName}}(
                    {{#each(Parameters)}}{{&CToCSharp(.)}}{{^@last}},
                    {{/}}{{/}});
                }, null);
            }
            catch(Exception ex)
            {
                Debug.LogError(ex);
            }
        }
        {{/}}{{/}}
        
        {{#InstanceMethods}}
        {{#Custom.CSharpInstance}}{{&.}}{{^}}public virtual void {{>MethodName}}(
            {{#each(Parameters)}}{{&CSharpParamType(Type)}} {{&Name}}{{^@last}},
            {{/}}{{/}})
        {
            
        }
        {{/}}{{/}}

        {{^Nondisposable}}
        private bool disposedValue = false; // To detect redundant calls
        
        private void Dispose(bool disposing)
        {
            if (!disposedValue)
            {
                {{&ClassName}}_Dispose(Handle);
                disposedValue = true;
            }
        }

        ~{{&ClassName}}()
        {
            // Do not change this code. Put cleanup code in Dispose(bool disposing) above.
            Dispose(false);
        }
        {{/}}
    }
}
