{{#Comment}}/*{{/}}
        [DllImport(dll)]
        {{MethodStart}}{{#Custom.CSharp.Dll}}{{&.}}{{^}}private static extern {{&CSharpMarshallingType(ReturnParam.Type)}} {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
            HandleRef ptr{{#Parameters}},
            {{&CSharpToCType(Type,Name)}}{{/}});{{/Custom.CSharp.Dll}}
        {{#Comment}}*/{{/}}
