{{#Comment}}/*
{{/}}[DllImport(dll)]
        {{MethodStart}}{{#Custom.CSharp.Dll}}{{&.}}{{^}}private static extern {{&CSharpMarshallingType(ReturnParam.Type)}} {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
            {{^IsStatic(.)}}HandleRef ptr, 
            {{/}}{{#Parameters}}{{&CSharpToCType(Type,Name)}},
            {{/}}out IntPtr exceptionPtr);{{/Custom.CSharp.Dll}}{{#Comment}}
*/{{/}}
