{{#Comment}}/*{{/}}
        [DllImport(dll)]
        {{MethodStart}}{{#Custom.CSharp.Dll}}{{&.}}{{^}}private static extern void {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
            HandleRef ptr{{#Parameters}},
            {{&CSharpToCType(Type,Name)}}{{/}},
            ref IntPtr bufferPtr,
            ref long count);{{/Custom.CSharp.Dll}}
        {{#Comment}}*/{{/}}
