{{^IsWriteonly(.)}}
        [DllImport(dll)]
        {{#Custom.CSharp.GetDLL}}{{&.}}{{^}}private static extern {{&CSharpMarshallingType(Type)}} {{&ClassName}}_GetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}HandleRef ptr{{/}});{{/}}{{/}}{{^IsReadonly(.)}}
        
        [DllImport(dll)]
        private static extern void {{&ClassName}}_SetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}HandleRef ptr{{/}}, {{&CSharpToCType(Type,Name)}}, out IntPtr exceptionPtr);{{/}}
