#if UNITY_IPHONE || UNITY_TVOS
        [DllImport(dll)]
        private static extern void {{&ClassName}}_SetProp{{&Capitalize(Name)}}(HandleRef ptr, {{&CSharpMarshallingType(Type)}} {{&Name}}, out IntPtr exceptionPtr);
