{{^IsWriteonly(.)}}
        [DllImport(dll)]
        private static extern void {{&ClassName}}_GetProp{{&Capitalize(Name)}}(HandleRef ptr, ref IntPtr buffer, ref long count);{{/}}{{^IsReadonly(.)}}
        
        [DllImport(dll)]
        private static extern void {{&ClassName}}_SetProp{{&Capitalize(Name)}}(HandleRef ptr, {{&CSharpToCType(Type,Name)}}, out IntPtr exceptionPtr);{{/}}
