{{^IsWriteonly(.)}}
        [DllImport(dll)]
        private static extern {{&CSharpMarshallingType(Type)}} {{&ClassName}}_GetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}HandleRef ptr{{/}}, ref IntPtr keysPtr, ref IntPtr valuesPtr, ref IntPtr typeIds, ref long count);{{/}}{{^IsReadonly(.)}}
        
        //[DllImport(dll)]
        //private static extern void {{&ClassName}}_SetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}HandleRef ptr{{/}}, {{&CSharpToCType(Type,Name)}}, out IntPtr exceptionPtr);{{/}}
