//
//  {{FileName}}.cs
//
//  Created by Jonathan Culp <jonathanculp@gmail.com> on 09/22/2020
//  Copyright © 2020 HovelHouseApps. All rights reserved.
//  Unauthorized copying of this file, via any medium is strictly prohibited
//  Proprietary and confidential
//

using System;
using System.Runtime.InteropServices;

namespace HovelHouse.GameKit
{
    {{#Classes}}
    // {{ClassName}}

{{#InstanceMethods}}
    {{#Custom.CSharpDelegateDef}}{{&.}}{{^}}public delegate {{&CSharpParamType(ReturnParam.Type)}} {{ClassName}}_{{>MethodName}}(
            IntPtr ptr,
            {{#each(Parameters)}}{{&CSharpToCType(Type,Name)}}{{^@last}},
            {{/}}{{/}});{{/}}{{/}}{{/}}

    public class GameKitInitializer
    {
        {{#Classes}}// {{ClassName}}
        {{#InstanceMethods}}
        [DllImport(dll)]
        private static extern void RegisterDelegateFor_{{ClassName}}_{{>MethodName}}(
            {{ClassName}}_{{>MethodName}} del);
        {{/}}
        {{/}}

        public static void Init()
        {
            {{#Classes}}{{#InstanceMethods}}RegisterDelegateFor_{{ClassName}}_{{>MethodName}}(
                {{ClassName}}.{{>MethodName}});
                {{/}}
                {{/}}
        }
    }
}

