/// <summary>
        /// </summary>
        /// {{#each(Parameters)}}<param name="{{&Name}}"></param>{{/}}
        /// <returns>{{#IsNotVoid(ReturnParam.Type)}}{{ReturnParam.Name}}{{^}}void{{/}}</returns>