{{>MethodDoc}}{{#Comment}}
/*{{/}}{{#Custom.CSharp.Body}}
{{&.}}{{^}}
        public {{#IsStatic(.)}}static {{/}}{{&CSharpParamType(ReturnParam.Type)}} {{Capitalize(MethodName)}}({{#each(Parameters)}}
            {{&CSharpParamType(Type)}} {{&Name}}{{^@last}}, {{/}}{{/}})
        { {{#each(Parameters)}}
            {{#Nonnull(.)}}if({{&Name}} == null)
                throw new ArgumentNullException(nameof({{&Name}}));
            {{/}}{{/}}{{#OnlyCallbacks(Parameters)}}var {{Name}}Call = {{#IsStatic(MethodType)}}InvocationRecord.Next(){{^}}new InvocationRecord(Handle){{/}};
            {{Capitalize(MethodName)}}Callbacks[{{Name}}Call] = new ExecutionContext<{{&BlockArgs(Type)}}>({{Name}});
            {{/}}
            {{#IsNotVoid(ReturnParam.Type)}}var val = {{/}}{{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
                {{^IsStatic(.)}}Handle,
                {{/}}{{#Parameters}}{{&CSharpToC(Type,Name)}},
                {{/}}out var exceptionPtr);

            if(exceptionPtr != IntPtr.Zero)
            {
                var nativeException = new NSException(exceptionPtr);
                throw new GameKitException(nativeException, nativeException.Reason);
            }
            {{#IsNotVoid(ReturnParam.Type)}}
            return {{&CToCSharp(ReturnParam)}};{{/}}
        }{{/Custom.CSharp.Body}}
        {{#Comment}}*/{{/}}{{#OnlyCallbacks(Parameters)}}{{#Comment}}/*{{/}}
        {{#Custom.CSharp.Callback}}{{&.}}{{^}}{{&BlockRenderer(MethodName,Type)}}{{/}}
        {{#Comment}}*/{{/}}{{/}}
