{{>MethodDoc}}
    {{#Comment}}/*{{/}}{{#Custom.CSharp.Body}}
    {{&.}}{{^}}
    public string[] {{Capitalize(MethodName)}}({{#each(Parameters)}}
        {{&CSharpParamType(Type)}} {{&Name}}{{^@last}}, {{/}}{{/}})
    {
        {{#each(Parameters)}}{{#Nonnull(.)}}if({{&Name}} == null)
            throw new ArgumentNullException(nameof({{&Name}}));
        {{/}}{{/}}   
        
        IntPtr bufferPtr = IntPtr.Zero;
        long bufferLen = 0;

        {{ClassName}}_{{MethodName}}{{#each(Parameters)}}{{#ParamLabel}}_{{.}}{{/}}{{/}}(
            Handle{{#Parameters}},
            {{&CSharpToC(Type,Name)}}{{/}},
            ref bufferPtr,
            ref bufferLen);
            
        string[] {{&ReturnParam.Name}} = new string[bufferLen];

        for (int i = 0; i < bufferLen; i++)
        {
            IntPtr ptr2 = Marshal.ReadIntPtr(bufferPtr + (i * IntPtr.Size));
            {{&ReturnParam.Name}}[i] = Marshal.PtrToStringAuto(ptr2);
        }

        Marshal.FreeHGlobal(bufferPtr);

        return {{&ReturnParam.Name}};
        
    }{{/Custom.CSharp.Body}}
    {{#Comment}}*/{{/}}
