/// <value>{{&Capitalize(Name)}}</value>
        public {{#IsStatic(.)}}static {{/}}{{&CSharpParamType(.)}} {{&Capitalize(Name)}}
        {
            {{^IsWriteonly(.)}}{{#Custom.CSharp.Get}}{{&.}}{{^}}get
            {
                {{&CSharpMarshallingType(.)}} = {{&ClassName}}_GetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}Handle{{/}});
                return {{&CToCSharp(.)}};
            }{{/}}{{/}}{{^IsReadonly(.)}}
            set
            {
                {{&ClassName}}_SetProp{{&Capitalize(Name)}}(Handle, {{&PropSetCSharpToC(.)}}, out IntPtr exceptionPtr);
            }{{/}}
        }
