/// <value>{{&Capitalize(Name)}}</value>
        public {{#IsStatic(.)}}static {{/}}{{&CSharpParamType(Type)}} {{&Capitalize(Name)}}
        {
            {{^IsWriteonly(.)}}get 
            { 
                IntPtr keysPtr = IntPtr.Zero;
                IntPtr valuesPtr = IntPtr.Zero;
                IntPtr typeIdPtr = IntPtr.Zero;
                IntPtr exceptionPtr = IntPtr.Zero;
                long count = 0;

                {{&ClassName}}_GetProp{{&Capitalize(Name)}}({{^IsStatic(.)}}Handle, {{/}}ref keysPtr, ref valuesPtr, ref typeIdPtr, ref count, ref exceptionPtr);

                var dict = new {{&CSharpParamType(Type)}}
                for(int i = 0; i < count; i++)
                {
                    var typeId = Marshal.ReadInt(typeIdPtr + (i*8));
                    var key = Marshal.ReadIntPtr(keysPtr + (i*8));
                    var value = Marshal.ReadIntPtr(valuesPtr + (i*8));
                    dict[key] = value;
                }
                
                return dict;
            }{{/}}{{^IsReadonly(.)}}
            // TODO
            // set
            // {
                // {{&ClassName}}_SetProp{{&Capitalize(Name)}}(Handle, {{&PropSetCSharpToC(.)}}, out IntPtr exceptionPtr);
            // }{{/}}
        }
