/// <value>{{&Capitalize(Name)}}</value>
        public {{&ArraySubtype(Type)}}[] {{&Capitalize(Name)}}
        {
            {{^IsWriteonly(.)}}get 
            { 
                IntPtr bufferPtr = IntPtr.Zero;
                long bufferLen = 0;

                {{&ClassName}}_GetProp{{&Capitalize(Name)}}(Handle, ref bufferPtr, ref bufferLen);

                var {{&Name}} = new {{ArraySubtype(Type)}}[bufferLen];

                for (int i = 0; i < bufferLen; i++)
                {
                    IntPtr ptr2 = Marshal.ReadIntPtr(bufferPtr + (i * IntPtr.Size));
                    {{&Name}}[i] = ptr2 == IntPtr.Zero ? null : new {{ArraySubtype(Type)}}(ptr2);
                }

                Marshal.FreeHGlobal(bufferPtr);

                return {{&Name}};
            }{{/}}{{^IsReadonly(.)}}
            set
            {
                {{&ClassName}}_SetProp{{&Capitalize(Name)}}(Handle, {{&PropSetCSharpToC(.)}}, out IntPtr exceptionPtr);
                
                if(exceptionPtr != IntPtr.Zero)
                {
                    var nativeException = new NSException(exceptionPtr);
                    throw new GameKitException(nativeException, nativeException.Reason);
                }
            }{{/}}
        }
