/// <value>{{&Capitalize(Prop.Name)}}</value>
        public Action<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}> {{Capitalize(Prop.Name)}}
        {
            get 
            {
                if({{Capitalize(Prop.Name)}}Callbacks.TryGetValue(
                    HandleRef.ToIntPtr(Handle), 
                    out ExecutionContext<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}> value))
                {
                    return value.Callback;
                }
                
                return null;
            }    
            set 
            {
                IntPtr myPtr = HandleRef.ToIntPtr(Handle);
                if(value == null)
                {
                    {{Capitalize(Prop.Name)}}Callbacks.Remove(myPtr);
                }
                else
                {
                    {{Capitalize(Prop.Name)}}Callbacks[myPtr] = new ExecutionContext<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}>(value);
                }
                {{&ClassName}}_SetProp{{&Capitalize(Prop.Name)}}(Handle, {{Capitalize(Prop.Name)}}Callback, out IntPtr exceptionPtr);

                if(exceptionPtr != IntPtr.Zero)
                {
                    var nativeException = new NSException(exceptionPtr);
                    throw new GameKitException(nativeException, nativeException.Reason);
                }
            }
        }

        private static readonly Dictionary<IntPtr,ExecutionContext<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}>> {{Capitalize(Prop.Name)}}Callbacks = new Dictionary<IntPtr,ExecutionContext<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}>>();

        [MonoPInvokeCallback(typeof({{&CSharpMarshallingType(Block.Type)}}))]
        private static void {{Capitalize(Prop.Name)}}Callback(IntPtr thisPtr, {{#each(Block.Params)}}{{&CSharpMarshallingType(.)}}{{^@last}}, {{/}}{{/}})
        {
            if({{Capitalize(Prop.Name)}}Callbacks.TryGetValue(thisPtr, out ExecutionContext<{{#each(Block.Params)}}{{&CToCSharpType(Type)}}{{^@last}},{{/}}{{/}}> callback))
            {
                callback.Invoke({{#each(Block.Params)}}
                        {{&CToCSharp(.)}}{{^@last}},{{/}}{{/}});
            }
        }
